@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing: 10px;
  --blur: 10px;
  --base: #4dc3f1;
  --radius:10px;
}

body {
  text-align: center;
  background: url(./assets/bg.svg);
  /* background-color: #331E38; */
  color: rgb(240, 240, 240);
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  overflow: hidden;
  font-size:2rem;
  font-weight: bold;
}

body>h2 {
  margin-top:3rem;
  font-size:3rem;
}

.controls {
  padding:2rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100px;
  margin:.3rem 1.5rem 0 .5rem;  
  cursor:pointer;
}

.controls input[type="color"] {
  background-color: #fff;
  border:none;
  width: 50px;
  height: 30px;
}
img {
  margin-top: 1rem;
  filter: blur(var(--blur));
  padding: var(--spacing);
  background-color: var(--base);
  border-radius:var(--radius);
}

.hl {
  text-shadow: 3px 3px var(--base);
}