@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing: 10px;
  --blur: 10px;
  --base: #4dc3f1;
}

body {
  text-align: center;
  background: url(./assets/bg.svg);
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  overflow: hidden;
  font-size:2rem;
  font-weight: bold;
}

body>h2 {
  margin: 3rem 0 3rem;
  font-size:3.5rem;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  margin-top: 1rem;
  filter: blur(var(--blur));
  padding: var(--spacing);
  background-color: var(--base);
}

.hl {
  text-shadow: 3px 3px var(--base);
}